.login_background{
  background-color: rgb(251, 251, 251);
  height: 100vh;
}

.login_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.login_page{
  background-color: #ffff;
  min-height: 400px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.home_background{
  background-color: rgb(251, 251, 251);
  height: 100vh;
}

.text_size_14{
  font-size: 14px;
}